/* Input meses sin flechitas */
#monthsFilter {
  -moz-appearance: textfield;
  appearance: textfield;
  text-align: center;
}
#monthsFilter::-webkit-inner-spin-button,
#monthsFilter::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Botones + / – */
#increaseMonths, #decreaseMonths {
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
}
